name: Build Android Release APK, AAB

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install yarn
        run: npm install -g yarn

      - name: Install JS dependencies
        run: yarn install

      - name: Generate .env.production
        run: |
          echo "API_BASE_URL=${{ secrets.API_BASE_URL }}" >> .env.production
          echo "PORTONE_STORE_ID=${{ secrets.PORTONE_STORE_ID }}" >> .env.production
          echo "PORTONE_CHANNEL_KEY=${{ secrets.PORTONE_CHANNEL_KEY }}" >> .env.production
          echo "PORTONE_REDIRECT_URL=${{ secrets.PORTONE_REDIRECT_URL }}" >> .env.production
          echo "PORTONE_NOTICE_URL=${{ secrets.PORTONE_NOTICE_URL }}" >> .env.production
          echo "KAKAO_JS_KEY=${{ secrets.KAKAO_JS_KEY }}" >> .env.production
          echo "KAKAO_RESTAPI_KEY=${{ secrets.KAKAO_RESTAPI_KEY }}" >> .env.production
          echo "KAKAO_NATIVEAPP_KEY=${{ secrets.KAKAO_NATIVEAPP_KEY }}" >> .env.production

      - name: Copy .env.production to .env
        run: cp .env.production .env

      - name: Set CI app version
        run: |
          VERSION_OFFSET=1000
          echo "CI_VERSION_CODE=$((VERSION_OFFSET + GITHUB_RUN_NUMBER))" >> $GITHUB_ENV
          echo "CI_VERSION_NAME=1.0.${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

      - name: Generate local.properties
        run: |
          echo "MAPS_API_KEY=${{ secrets.MAPS_API_KEY }}" >> android/local.properties

      - name: Decode google-services.json
        run: |
          echo "${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}" | base64 --decode > android/app/google-services.json

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Set up Ruby and Bundler
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      - name: Install fastlane
        run: bundle install
        working-directory: android

      - name: Decode keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/test-release-key.jks

      - name: Set keystore env
        run: |
          echo "KEYSTORE_PATH=test-release-key.jks" >> $GITHUB_ENV
          echo "KEYSTORE_PASSWORD=${{ secrets.KEYSTORE_PASSWORD }}" >> $GITHUB_ENV
          echo "KEY_ALIAS=${{ secrets.KEY_ALIAS }}" >> $GITHUB_ENV
          echo "KEY_PASSWORD=${{ secrets.KEY_PASSWORD }}" >> $GITHUB_ENV

      # APK 빌드
      - name: Build Release APK
        run: |
          ENVFILE=.env.production bundle exec fastlane build_release
        working-directory: android

      # APK 업로드
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: android/app/build/outputs/apk/release/app-release.apk

      # AAB 빌드
      - name: Build Release AAB
        run: |
          ENVFILE=.env.production bundle exec fastlane bundle_release
        working-directory: android

      # AAB 업로드
      - name: Upload AAB Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-aab
          path: android/app/build/outputs/bundle/release/app-release.aab
